model:
  class_name: ddm.ddm_const.DDPM
  image_size: [256, 256]
  ckpt_path:
  ignore_keys: []
  only_model: False
  sampling_timesteps: 10
  loss_type: l2
  start_dist: normal
  perceptual_weight: 1.0
  eps: !!float 1e-4
  sigma_max: 1
  sigma_min: 0.01
  ldm: False
  weighting_loss: True
  use_l1: True
  use_augment: False
  unet:
    class_name: unet.cond_unet.Unet
    fix_bb: False
    cond_net: swin
    dim: 128
    channels: 1
    out_mul: 1
    dim_mults: [ 1, 2, 4, 4 ] # num_down = len(dim_mults)
    cond_in_dim: 3
    cond_dim: 128
    cond_dim_mults: [ ] # num_down = len(cond_dim_mults)
    window_sizes1: [ [ 8, 8 ], [ 4, 4 ], [ 2, 2 ], [ 1, 1 ] ]
    window_sizes2: [ [ 8, 8 ], [ 4, 4 ], [ 2, 2 ], [ 1, 1 ] ]
    fourier_scale: 16
    cond_pe: False
    num_pos_feats: 128
    cond_feature_size: [ 256, 256 ]
    input_size: [80, 80]

data:
  class_name: ddm.data.ICASSP2025Dataset
  image_size: [256, 256]
  data_root: './ICASSP2025_Dataset'
  split: train
  augment_horizontal_flip: False
  batch_size: 1
  num_workers: 4

trainer:
  gradient_accumulate_every: 1
  lr: !!float 8e-5
  min_lr: !!float 5e-6
  train_num_steps: 30000
  save_and_sample_every: 200
  log_freq: 500
  results_folder: "./results/ICA_dm"
  amp: False
  fp16: False
  resume_milestone: 0
  test_before: True
  ema_update_after_step: 20000
  ema_update_every: 4

sampler:
  batch_size: 32
  sample_num: 1000
  use_ema: True
  test_in_train: False
  ckpt_path: "./results/ICA_dm/model-20.pt"
  save_folder: "./results/ICA_dm/samples"
  target_path: "./ICASSP2025_Dataset"